@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>
        The controller is @ViewBag.Controller
    </div>
    <div>
        The action is @ViewBag.Action
    </div>
    <div>
        This is a URL:
        @Url.Action("Index", "Admin", new { id = "MyId"})
    </div>
    <div>
        @Html.ActionLink("This is an outgoing url", "CustomVariable")
    </div>
    <div>
        @Html.ActionLink("This is an outgoing url with extra values", "CustomVariable", "Home", new { id = "Hello" }, null)
    </div>
    <div>
        @Html.ActionLink("This is an outgoing url with attributes", "Index", "Home", null, new { id = "myAnchorID", @class = "myCssClass" })
    </div>
    <div>
        @Html.ActionLink("This targets another controller", "Index", "Admin")
    </div>
    <div>
        This is a legacy URL:
        @Html.ActionLink("Windows 3.1 Overview", "GetLegacyURL", new { legacyURL = "~/articles/Windows_3.1_Overview.html" })
    </div>
</body>
</html>
